<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lego Collection</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      <%- include('partials/navbar', {page: ''}) %>       
          <div class="hero min-h-screen" style="background-image: url('/void.gif');">
            <div class="hero-overlay bg-opacity-60"></div>
            <div class="hero-content text-center text-neutral-content">
              <div class="max-w-md">
                    <h1 class="mb-5 text-5xl font-bold">500!</h1>
                    <p class="mb-5">DATABASE ERROR: Your information has been pulled into the void</p>
                    <a class="btn btn-ghost normal-case text-xl" href = '/' >Get me out of here!</a></button>
                </div>
            </div>
        </div>

    </body>