<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lego Collection</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

  
     <%- include('partials/navbar', {page: '/about'}) %>


          <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <img src="https://scp-wiki.wdfiles.com/local--files/scp-1471/scp1471.jpg" class="max-w-sm rounded-lg shadow-2xl" />
              <div>
                <h1 class="text-5xl font-bold">About Me</h1>
                <p class="py-6">This page just has some brief content about me. Why did you click on it? </p>
              </div>
            </div>
          </div>

          <!--Grid with picture and text-->

          <div class="container mx-auto">
            <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
              <div class="border-2"><img src="https://futuretreehealth.com.au/wp-content/uploads/2023/05/Ancient-Arborists-The-Neo-Babylonian-Empire.jpg" alt="Babylon"></div>
              <div class="border-2">Currently in my 3rd semester of the CPA program, I am taking Object-Oriented Programming, Web Programming Tools and Frameworks, Software Analysis and Design I, Advanced Database Services, and Environmental Science. During my free time I enjoy being out in nature, reading, listening to music, video games, and working out. My interests outside of computers are in Greco-Roman and Mesopotamian history, paleontology, and reading long book series that I doubt I'll ever finish. My favourite fiction authors are H.P. Lovecraft and Douglas Adams, my top 4 games are probably Bloodborne, Planescape Torment, Doom, and Morrowind. I mainly listen to various sub-genres of metal, but also enjoy electronic music, rock, neoclassical darkwave, and various other stuff. Somewhat recently, I finished reading through the Witcher series by Andrzej Sapkowski and am currently about 12 books deep into Discworld by Terry Pratchett. It's currently debatable whether I manage to finish that series, my CPA program, actually land an internship, or the co-op Baldur's Gate 3 playthrough with my buddy first. Willing to take on any bets. </div>
            </div>
          </div>



    </body>